# Data Quality Assessment für die Bachelorarbeit: Schadenserkennung bei Büchern mit machine learning

In [3]:
import pandas as pd

In [39]:
# einlesen der Daten von json
data = pd.read_json("2024-02-21-Schadenserkennung-Annotationen.json")

In [43]:
data = data.set_index("id")

In [46]:
data.head()

,image,choice,label,annotator,annotation_id,created_at,updated_at,lead_time
id,,,,,,,,
1,/data/local-files/?d=aktuelle_container_bilder...,Bildartefakte,"[{'points': [[32.57920522223961, 39.3153291623...",1,55,2023-09-22 11:11:38.664374+00:00,2023-11-07 08:09:17.953872+00:00,3936.623
2,/data/local-files/?d=aktuelle_container_bilder...,NaN,"[{'points': [[68.27534605312383, 44.7552447552...",1,56,2023-09-22 11:11:45.524153+00:00,2023-09-22 12:31:38.328846+00:00,84.433
3,/data/local-files/?d=aktuelle_container_bilder...,Bildartefakte,"[{'points': [[33.45478242525879, 38.3449883449...",1,57,2023-09-22 11:11:54.928596+00:00,2023-09-22 13:00:58.143600+00:00,1765.388
4,/data/local-files/?d=aktuelle_container_bilder...,Bildartefakte,NaN,1,76,2023-09-22 13:01:09.351468+00:00,2023-09-22 13:01:09.351493+00:00,8.986
5,/data/local-files/?d=aktuelle_container_bilder...,NaN,"[{'points': [[22.929010403804327, 49.662773595...",1,58,2023-09-22 11:21:22.438563+00:00,2023-09-26 08:20:49.284665+00:00,271.547

In [48]:
# verwerfen von nicht zu verwendenen Daten
#
#   created_at und updated_at geben keine informationen über den inhalt des bildes bzw der annotation
#   lead_time interessiert nicht
#   annotator_id ist die id + 54
#   annotator ist immer 1
#   choice hat 974/1081 nullwerte (Nan)
#   
# Die restlichen Werte können relevant sein für das trainieren des algorithmus

data_dropped = data.drop(["created_at", "updated_at", "lead_time", "annotation_id", "annotator", "choice"], axis=1)
data_dropped.head()

,image,label
id,,
1,/data/local-files/?d=aktuelle_container_bilder...,"[{'points': [[32.57920522223961, 39.3153291623..."
2,/data/local-files/?d=aktuelle_container_bilder...,"[{'points': [[68.27534605312383, 44.7552447552..."
3,/data/local-files/?d=aktuelle_container_bilder...,"[{'points': [[33.45478242525879, 38.3449883449..."
4,/data/local-files/?d=aktuelle_container_bilder...,NaN
5,/data/local-files/?d=aktuelle_container_bilder...,"[{'points': [[22.929010403804327, 49.662773595..."

# TODO: 
1. kontrollieren der einzelnen datentypen
2. die kollumne label weiter unterteilen